<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="si.feri.projekt.studentskaprehrana"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    
	<instrumentation android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="si.feri.projekt.studentskaprehrana"
    android:label="your tests label" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    

    <application android:name="com.sciget.studentmeals.MainApplication" android:icon="@drawable/logo" android:label="@string/app_name">
        <activity android:name=".activity.RestaurantsListActivity2" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

   		<activity android:name=".activity.RestaurantsListActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
   		<activity android:name=".activity.ProvidersNearMyLocationActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
   		<activity android:name="com.sciget.studentmeals.activity.RestaurantDetailsActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
   		<activity android:name="com.sciget.studentmeals.activity.RestaurantMenuListActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
		<activity android:name="com.sciget.studentmeals.activity.RestaurantMapActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>

		<activity android:name=".activity.FavProvidersActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
		<activity android:name="si.feri.mui.igra.connectfour.ConnectFourActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
		<activity android:name="si.feri.mui.igra.tictactoe.TicTacToeActivity" android:label="@string/app_name">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
		</activity>
		
		<activity android:name=".Preferences"></activity>
		<activity android:name=".activity.HistoryListActivity"></activity>
		<activity android:name=".activity.AccountCreatedActivity"></activity>
		<activity android:name=".activity.CommentActivity"></activity>
		<activity android:name=".activity.PersonalInfoActivity"></activity>
		<activity android:name=".activity.UpdateActivity"></activity>
		<activity android:name="com.sciget.studentmeals.camera.CameraActivity"></activity>
		
		    
		
	    <activity android:name="com.sciget.studentmeals.client.StudentMealsWebServiceClientActivity"></activity>
		
		<uses-library android:name="com.google.android.maps" />
		<uses-feature android:name="android.hardware.camera" />
		<uses-feature android:name="android.hardware.camera.autofocus" />
		<uses-library android:name="android.test.runner" />
		
		<receiver android:name="com.sciget.studentmeals.service.UpdateBroadcastReciver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />  
		    </intent-filter>  
		</receiver>
		
		<receiver android:name="com.sciget.studentmeals.service.ConnectivityChangeReciver">
		   <intent-filter>
		      <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		   </intent-filter>
		</receiver>

        <service android:enabled="true" android:name="com.sciget.studentmeals.service.UpdateService" />
        
        
        <receiver android:name="com.sciget.studentmeals.widget.MyWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
		</receiver>
		<service android:name="com.sciget.studentmeals.widget.UpdateWidgetService" />
    </application>
    
</manifest>